# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Package build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VSCode or PyCharm
.vscode/
.idea/

# Virtual environments
venv/
.env/